body{

}
.cookchef{
    width:30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(30%, -43%);
}
.desc {
    position: absolute;
    width: 700px;
    margin: 300px auto;
   
}
