<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />

    <title>@ViewData["Title"] - Vision Restaurant</title>
    <link rel="stylesheet" href="css/site.css" asp-append-version="true">

</head>
<body>
    <div class="topnav">
        <a asp-area="" asp-page="/Index">Home</a>
        <a asp-area="" asp-page="/Menu">Menu</a>
        <a asp-area="" asp-page="/Contact">Contact</a>
        <a asp-area="" asp-page="/About">About</a>
    </div>
    <article>
        @RenderBody()
    </article>
<footer>
        <p>Vision.Sdn Bhd</p>
        <a href=""></a>
</footer>
    
</body>
</html>